body,
#header {
  padding-right: 0 !important;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 0% 0% / cover,
    url(/static/img/bg/background.jpg) center center no-repeat fixed;
}
/* #root {
  position: relative;
} */
.min-h-700 {
  min-height: 650px;
}
#footer {
  padding-bottom: 70px;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.login-box {
  padding: 9% 0 0;
  height: 100%;
  /* background: #24b196;
  background: linear-gradient(to right, #29abe2, #f7931e); */
}
.section-even-bg {
  background: #f6f9ff;
}

/* #F7931E, #29ABE2 */
.btn-primary {
  border: 0;
  background-color: #24b196;
}
.navbar .getstarted,
.btn-connect-wallet,
.btn-primary:hover {
  background: #24b196;
  border: 0;
  color: white;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus,
.btn-connect-wallet:hover,
.btn-connect-wallet:focus {
  background: #24b196 !important;
}

.breadcrumbs {
  /* background: #24b196; */
}
.text-theme-1 {
  color: #f7931e;
}
.text-theme-2 {
  color: #24b196;
}

.bg-theme-1 {
  color: #f7931e;
}
.bg-theme-2 {
  color: #24b196;
}

.header .logo span,
.navbar a,
.navbar a:focus,
.section-header p {
  color: #24b196;
}

.s-title {
  font-weight: bold;
}

.box-even {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}
.box-odd {
  padding: 30px;
  height: 100%;
  box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
}
.modal-nft-result {
  min-height: 380px;
}

.box-even,
.box-odd {
  border-radius: 15px;
  background: #fafbff;
  box-shadow: 7px 10px 0px rgb(0 0 0 / 20%);
}

/* .bg-mint {
  background-image: url(/static/img/banner/commm2.png);
  background-size: cover;
}
.bg-mint {
  background-position: center;
} */

.footer {
  /* background: #000000; */
  color: white;
}
.footer .copyright,
.footer .credits {
  color: white;
}
.mint-section {
  margin-top: 150px;
}
